<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles.css" />
        <title>Cazadores de Talento</title>
    </head>
    <body>
        <header>
            <div class="full-logo">
                <img class="logo" src="assets/logo.svg />
                <h3 class="title">Cazadores de Talento</h3>
            </div>
            <nav>
                <ul class="nav__links">
                    <li><a href="home.html">Buscar Cazador</a></li>
                    <li><a href="about.html">Buscar Talento</a></li>
                </ul>
            </nav>
            <a class="home" href="contact.html"><button>Home</button></a>
        </header>

        <div class="title-instruction">
            <h1>Crear cita talento</h1>
        </div>

        <div class="container-form">
            <form class="form-general">
                <label for="lista_de_cazadores"
                    >Selecciona cazador para citar:</label
                >
                <select
                    name="lista_de_cazadores"
                    id="lista_de_cazadores"
                ></select>

                <label for="horario">Horario</label>
                <input type="datetime" name="horario" id="horario" />

                <label for="lugar">Lugar</label>
                <input type="text" name="lugar" id="lugar" />

                <input type="submit" value="Crear cita" />
            </form>
        </div>
    </body>
</html>
