<%- include('../components/header') %>
    <header>
        <div class="full-logo">
            <img class="logo" src="assets/logo.svg"/>
            <h3 class="title">Cazadores de Talento</h3>
        </div>

        <a class="home" href="/"><button>Home</button></a>
    </header>

    <div class="title-instruction">
        <h1>Selecciona tu tipo de usuario</h1>
    </div>
    <div class="container">
        <a href="/cazadorHome" class="card">
            <h1>Cazador</h1>
        </a>
        <a href="/talentoHome" class="card">
            <h1>Talento</h1>
        </a>
    </div>
    <%- include('../components/footer') %>