<%- include('../components/header') %>
    <header>
        <div class="full-logo">
            <img class="logo" src="../assets/logo.svg" />
            <h3 class="title">Cazadores de Talento</h3>
        </div>
        <nav>
            <ul class="nav__links">
            </ul>
        </nav>
        <a class="home" href="/"><button>Home</button></a>
    </header>

    <div class="title-instruction">
        <h1>Crear Proyecto</h1>
    </div>

    <div class="container-form">
        <form class="form-general" method="post">
            <label for="cazador-nombre">Selecciona tu perfil de cazador</label>
            <select name="idCazador">
                <option value="">--Selecciona una opcion--</option>
                <% for(let i = 0; i < cazador.length; i++) { %>
                    <option value="<%= cazador[i].idCazador %>"><%= cazador[i].alias %> </option>
                <% } %>
            </select>
            

            <label for="nombre">Nombre del proyecto</label>
            <input type="text" name="nombre" />

            <label for="descripción">Descripción del proyecto</label>
            <textarea
                name="descripcion"
                id="descripción"
                cols="30"
                rows="10"
            ></textarea>

            <label for="cuota">Cuota del proyecto</label>
            <input type="number" name="cuota" id="cuota" />

            
            <label for="habilidad">Habilidad Requerida</label>
            <select name="habilidad" id="habilidad">
                <option value="">--Selecciona una opcion--</option>
                <option value="1">HTML</option>
                <option value="2">CSS</option>
                <option value="3">JavaScript</option>
                <option value="4">Fullstack</option>
                <option value="5">Data Scientist</option>
                <option value="6">React</option>
                <option value="7">MongoDB</option>
                <option value="8">MySQL</option>
            </select>
            
            <input type="submit" value="Crear proyecto" />
        </form>
    </div>

<%- include('../components/footer') %>