<%- include('../components/header') %>
    <header>
        <div class="full-logo">
            <img class="logo" src="assets/logo.svg"/>
            <h3 class="title">Cazadores de Talento</h3>
        </div>
        <nav>
            <ul class="nav__links">
            </ul>
        </nav>
        <a class="home" href="/"><button>Home</button></a>
    </header>

    <div class="title-instruction">
        <h1>Crear cazador</h1>
    </div>

    <div class="container-form">
        <form class="form-general" method="post">
            <label for="alias">Alias</label>
	        <input type="text" name="alias" id="alias">

	        <label for="giro_de_proyectos">Giro de proyectos</label>
	        <input type="text" name="giro_de_proyectos" id="giro_de_proyectos">

	        <label for="coordenadas">Coordenadas</label>
	        <input type="text" name="coordenadas" id="coordenadas">

            <input type="submit" value="Crear Cazador">
        </form>
    </div>


<%- include('../components/header') %>