<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Cazadores de Talento</title>
</head>
<body>
    <header>
        <div class="full-logo">
            <img class="logo" src="assets/logo.svg"/>
            <h3 class="title">Cazadores de Talento</h3>
        </div>
        <nav>
            <ul class="nav__links">
            </ul>
        </nav>
        <a class="home" href="/"><button>Home</button></a>
    </header>

    <div class="title-instruction">
        <h1>Editar cazador</h1>
    </div>

    <div class="container-form">
        <form class="form-general">
            <label for="cazador">Perfil de cazador a editar:</label>
	        <select name="cazador" id="cazador" onchange="defaultCazador()">
	        </select>
		<p></p>

		<div>
		        <label for="alias">Alias</label>
		        <input type="text" name="alias" id="alias">

		        <label for="giro_de_proyectos">Giro de proyectos</label>
		        <input type="text" name="giro_de_proyectos" id="giro_de_proyectos">

		        <label for="coordenadas">Coordenadas</label>
	        	<input type="text" name="coordenadas" id="coordenadas">
		</div>
            
        <input type="submit" value="Editar cazador">
        </form>
    </div>
    

</body>